.container {
  max-width: 600px;
  margin: 0 auto;
}

.completed-task {
  background-color: #d4edda; 
}

.incomplete-task {
  background-color: #f8d7da; 
}

.full-width {
  width: 100%;
}

.mb-2 {
  margin-bottom: 16px;
}

.form-card,
.task-card {
  padding: 16px;
  margin: 16px;
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-title {
  flex-grow: 1;
}

.delete-button {
  margin-left: 8px;
}

.task-actions {
  margin-top: 16px;
  text-align: right;
}

#addtask {
  margin: 10px;
}
